body {
  font-family: sans-serif;
  font-size: 1em;
  color: #333;
  background-color: #ddd;
}

.user_input_field {
  border-radius: 5px 5px 5px 5px;
}

label {
  clear: both;
  display: block;
  font-size: 0.85em;
  font-weight: bold;
  padding: 0.8em 10em 0.9em 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.archived {
  color: green;
}

.not_archived {
  color: red;
  font-size: 1em;
}

/*
*/

input,
button {
  font-size: 1em;
  padding: 3px 6px;
  margin: 0;
  border: 1px solid #333;
  outline: 0;
  box-shadow: none;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input {
  width: 15%;
  background-color: #fff;
}

button {
  background-color: #cccccc;
  cursor: pointer;
}

button:hover {
  position: relative;
  background-color: #a0a0a0;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.copied::after {
  /*
  */
  position: absolute;
  /*
  */
  top: 12%;
  right: 110%;
  display: block;
  content: "copied";
  font-size: 0.75em;
  padding: 2px 3px;
  color: #fff;
  background-color: #22a;
  border-radius: 3px;
  opacity: 0;
  will-change: opacity, transform;
  -webkit-animation: showcopied 1.5s ease;
  animation: showcopied 1.5s ease;
}

@-webkit-keyframes showcopied {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
  }
}

@keyframes showcopied {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
  }
}

#heading_link:link,
#heading_link:visited {
  color: black;
  padding: 10px;
  width: 95%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #cccccc;
}

#heading_link:hover,
#heading_link:active {
  background-color: #a0a0a0;
}

.leftest_button {
  border-left-width: 2px;
  border-right-width: 1px;
  border-radius: 0px;
}

.inner_button {
  border-left-width: 1px;
  border-right-width: 0px;
  border-radius: 0px;
}

.rightest_button {
  border-left-width: 1px;
  border-right-width: 1px;
  border-radius: 0px 5px 5px 0px;
}

.leftest_input_field_for_clickable {
  border-right-width: 1px;
  border-radius: 5px 0px 0px 5px;
}

.leftest_input_field_for_clickable:disabled:hover {
  cursor: not-allowed;
}

.standard_button {
  border-radius: 5px 5px 5px 5px;
}

.user_input_label {
  float: left;
  width: 150px;
}


/**
 * Tooltip Styles
 * Sauce : https://codepen.io/cbracco/pen/qzukg
 */


/* Add this attribute to the element that needs a tooltip */

[data_tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}


/* Hide the tooltip content by default */

[data_tooltip]:before,
[data_tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}


/* Position tooltip above the element */

[data_tooltip]:before {
  /*

*/
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: -10px;
  margin-left: -80px;
  padding: 3px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data_tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}


/* Triangle hack to make tooltip look like a speech bubble */

[data_tooltip]:after {
  position: absolute;
}


/* Show tooltip content on hover */

[data_tooltip]:hover:before,
[data_tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
